<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- This is to get the burger menu icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="./nav.css">

    <title>Nav Component</title>
</head>

<body>

    <nav>
        <a href="" style="text-decoration: none;">
            <div
                style="margin: 0; padding: 0; display: flex; justify-content: left; align-items: center; color: black;">
                <img class="logo-img" src="../../assets/images/apothecary_crest_logo.png">
                <div style="padding-left: 5px;">
                    <p>STEINVORTH</p>
                    <p>APOTHECARY</p>
                </div>
            </div>
        </a>
        <ul class="nav-links">
            <li><a href="">Products</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Dosha Quiz</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <div class="hamburger">
            <i class="fas fa-bars"></i>
        </div>
    </nav>

    <script src="./nav.js"></script>
</body>

</html>